  *{padding: 0; margin: 0; border: 0;}
  
  .intro-top{
    position: absolute;
    margin-left: 17vw;
    margin-top: 13vw;
    font-size: 5em;
    font-family: monospace;
    color: rgb(80, 80, 80);
  }
  .intro-name{
    position: absolute;
    margin-left: 13vw;
    margin-top: 34vh;
    font-size: 7em;
    font-family: monospace;
    color: rgb(160, 160, 160);
  }
  .personal-desc{
    width: 47vw;
    height: 30vh;
    position: fixed;
    margin-left: 10vw;
    margin-top: 48vh;
    font-family: monospace;
    color: rgb(130, 130, 130);
    font-size: 2em;
    line-height: 1.7em;
  }
  .personal-desc-two{
    width: 43vw;
    height: 30vh;
    font-weight: 600;
    position: fixed;
    margin-left: 50vw;
    margin-top: 48vh;
    font-family: monospace;
    color: rgb(0, 0, 0);
    font-size: 2em;
    line-height: 1.7em;
  }
  .tech-stack{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto, auto, auto, auto;
    
    position: absolute;
    margin-left: 71vw;
    margin-top: 10vh;
    width: 15vw;
    height: 80vh;
  }
  .moving-image{
    opacity: 30%;
    position: absolute;
  }
  .rayHelm{
    margin-top: 150vh;
    margin-left: 50vw;
  }
  .ElemArt{
    margin-top: 50vh;
    margin-left: 10vw;
  }
  .fGrade{
    margin-top: 100vh;
    margin-left: 5vw;
  }
  .nameWord{
    margin-top: 170vh;
    margin-left: 60vw;
  }
  .ppex-link{
    position: absolute;
    margin-top: 340vh;
    width: 40vw;
    text-align: center;
    font-family: sans-serif;
    margin-left: 5vw;
  }
  .ppex-link h1, .hexGame-link h1{
    font-size: 7em;
    margin-bottom: 5vh;
  }
  a:link{
    color: black;
  }
  .ppex-link h1:hover{
    color: black;
  }
  a:active{
    color: black;
  }
  a:visited{
    color: black;
  }
  .hexGame-link{
    position: absolute;
    margin-top: 440vh;
    width: 40vw;
    text-align: center;
    font-family: sans-serif;
    margin-left: 5vw;
  }